@import url("https://fonts.googleapis.com/css2?family=B612+Mono&family=DM+Serif+Display:ital@0;1&display=swap");
@import "_variables";

body {
  font-family: "freight-text-pro", "Times", "Times New Roman", serif;
  font-size: 16px;
  letter-spacing: 0.025em;
}

main {
  section {
    padding: 0px 140px 40px 140px;
  }
  .banner {
    position: relative;

    .image {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
      }
    }
    .content {
      position: absolute;
      max-width: 490px;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
      .category {
        font-family: "proxima-nova", "Helvetica", "Arial", sans-serif;
        font-size: 10px;
        letter-spacing: 2.2px;
        line-height: 14px;
        margin-bottom: 30px;
        text-transform: uppercase;
      }
      .title {
        font-size: 50px;
        font-weight: 300;
        line-height: 48px;
        font-family: "freight-display-pro", "Times New Roman", serif;
        letter-spacing: 0.025em;
        text-align: center;
        margin-bottom: 50px;
        em {
          font-style: italic;
        }
      }
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid white;
        color: white;
        font-family: "proxima-nova", "Helvetica", "Arial", sans-serif;
        font-size: 10px;
        height: 55px;
        letter-spacing: 2.2px;
        max-width: 100%;
        min-width: 240px;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }
  .half {
    display: grid;
    grid-template-columns: 1fr 1fr;
    picture {
      grid-column: 1;
      img {
        width: 100%;
      }
    }
    .content_wrap {
      background-color: #f3ede8;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        .category {
          font-family: "proxima-nova", "Helvetica", "Arial", sans-serif;
          font-size: 10px;
          letter-spacing: 2.2px;
          line-height: 15px;
          margin-bottom: 27px;
          text-transform: uppercase;
        }
        .title {
          font-family: "freight-display-pro", "Times New Roman", serif;
          font-size: 34px;
          line-height: 38px;
          margin: auto;
          max-width: 440px;
          text-align: center;
        }
        a {
          margin-top: 65px;
          border: 1px solid #414141;
          box-sizing: border-box;
          color: #414141;
          cursor: pointer;
          display: inline-block;
          font-family: "proxima-nova", "Helvetica", "Arial", sans-serif;
          font-size: 10px;
          height: 55px;
          letter-spacing: 2.2px;
          line-height: 55px;
          max-width: 100%;
          min-width: 240px;
          padding: 0 50px;
          text-transform: uppercase;
          text-decoration: none;
        }
      }
    }
  }

  .products {
    .title_wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      .category {
        color: #414141;
        font-family: "proxima-nova", "Helvetica", "Arial", sans-serif;
        font-size: 10px;
        letter-spacing: 2.2px;
        line-height: 15px;
        margin-bottom: 17px;
      }
      .title {
        text-transform: uppercase;
        font-family: "freight-display-pro", "Times New Roman", serif;
        font-size: 34px;
        line-height: 38px;
      }
    }
    .item_wrap {
      display: grid;
      grid-template-columns: repeat(3, minmax(min-content, 1fr));

      .item {
        picture {
          img {
            width: 100%;
          }
        }
        .category {
          font-family: "proxima-nova", "Helvetica", "Arial", sans-serif;
          font-size: 10px;
          letter-spacing: 2.2px;
          line-height: 15px;
          min-height: 15px;
          text-transform: uppercase;
        }
        .title {
          font-family: "freight-display-pro", "Times New Roman", serif;
          font-size: 30px;
          font-style: italic;
          line-height: 38px;
          margin-bottom: 15px;
        }
        .price {
          color: #9d9d9c;
          opacity: 1;
          letter-spacing: 2px;
          font-family: "proxima-nova", "Helvetica", "Arial", sans-serif;
          font-size: 10px;
          height: 23px;
          line-height: 24px;
        }
        .cart_btn {
          margin-top: 32px;
          margin-bottom: 10px;
          max-width: 90%;
          min-width: 190px;
          padding: 0;
          width: 240px;
          border: 1px solid #414141;
          box-sizing: border-box;
          color: #414141;
          cursor: pointer;
          display: inline-block;
          font-family: "proxima-nova", "Helvetica", "Arial", sans-serif;
          font-size: 10px;
          height: 55px;
          letter-spacing: 2.2px;
          line-height: 55px;
          text-transform: uppercase;
          text-align: center;
        }
      }
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(min-content, 1fr));
    .image {
      img {
        width: 100%;
      }
    }
  }
}

header {
  background-color: white;
  height: 155px;
  position: relative;
  top: 0px;

  nav {
    display: grid;
    position: relative;
    top: 45px;
    align-items: center;
    justify-content: stretch;
    grid-template-columns: repeat(5, minmax(max-content, 1fr));
    padding: 0px 140px 0px 140px;
    ul {
      font-family: "proxima-nova", "Helvetica", "Arial", sans-serif;
      font-size: 10px;
      color: #414141;
      font-weight: bold;
      letter-spacing: 0.22em;
      text-align: center;
      text-transform: uppercase;
      display: flex;
      &:nth-child(1) {
        justify-self: start;
        grid-column: 1 / span 2;
        li {
          margin-right: 50px;
        }
      }
      &:nth-child(3) {
        justify-self: end;
        grid-column: -2;
      }
    } //ul
  } //nav

  .logo {
    grid-column: 3;
    justify-self: center;
    width: 58px;
    height: 58px;
  }

  .cart {
    grid-column: -1;
    justify-self: end;
    position: relative;
    margin-left: 50px;
    a {
      text-decoration: none;
    }
    span {
      color: #939598;
      font-family: "proxima-nova", "Helvetica", "Arial", sans-serif;
      font-size: 10px;
      font-weight: bold;
    }
    svg {
      width: 20px;
      height: 20px;
      margin: auto;
    }
  }
}
